/* Squeeze Toolbar buttons */
/* http://kb.mozillazine.org/Toolbar_customization_-_Firefox */
#nav-bar .toolbarbutton-1:not([type="menu-button"]), #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button, #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker {
	padding-left: 0 !important;
    padding-right: 0 !important;
    padding: 0px !important;
}